html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    
}

body
{
font-family:arial;
text-decoration:none;
}

.clear
{
clear:both;
}
.container
{
width:940px;
margin: 0px auto;
}
.header
{
height:50px;
background:#444444;
}

.header ul
{
list-style-type:none;
float:left;
}
.header ul li
{
float:left;
}
.header ul li a
{
text-decoration:none;
display:block;
padding:16px 25px;
border-right:1px solid black;
color:#aaaaaa;
}

.logo1
{
border-right:1px solid black;
float:left;
padding:8px 25px;
}
.banner
{
height:487px;
background-image:url("../images/pattern.jpg");
background-repeat:repeat;
}
.leftText
{

float:left;
}
.leftText h1
{
margin-top:181px;
color:#ffffff;
font-size:48px;
}
.leftText h2
{
margin-top:26px;
font-size:36px;
color:#ffffff;
}

.view
{
margin-top:48px;
float:left;
text-align:center;
background:#f2f2f2;
height:47px;
width:171px;
border-radius:3px;
font-size:20px;
color:BLACK;
margin-right:21px;
line-height:47px;
text-decoration:none;
}

.join
{
margin-top:48px;
float:left;
text-align:center;
background:#ff9900;
height:47px;
width:171px;
border-radius:3px;
font-size:20px;
color:white;
margin-right:21px;
line-height:47px;
text-decoration:none;
}

.imageRight
{
float:right;
margin-top:50px;
}

.content
{
height:504px;
}

.content h4
{
text-align:center;
color:#444444;
font-size:26px;
padding-top:64px;
}

.content ul
{
float:left;
margin-left:20px;
}

.content ul li
{
float:left;
margin-left:20px;
display:block;
}
.circle
{
border-radius:50%;
width:140px;
height:140px;
background:#efefef;
/*float:left;*/
margin-top:74px;
margin-left:40px;
}

.icon
{
padding-top:45px;
padding-left:40px;
}
.text
{
margin-top:50px;
margin-left:30px;
}

.footer
{
height:160px;
background:#ececec;
}

 .footer ul
{
margin-top:10px;
/*margin-right:18px;*/
float:left;
}
 .footer li
{
margin-top:10px;
/*margin-right:18px;*/
float:left;
}


.footer ul li a
{
color:#ff9900;
margin-right:17px;
}

#id
{
color:black;
}
.footerIcon
{
float:right;
margin-top:10px;
border-radius:50%;
width:30px;
height:30px;
background:#888888;

margin-left:18px;
}


.icon2
{
padding-top:7px;
padding-left:8px;
}

.text1
{
margin-top:27px;
float:left;
color:#aaaaaa;
}
.text2
{
margin-top:27px;
float:left;
color:#aaaaaa;
}



