html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body
{
font-family:myriad pro;
}

.clear
{
clear:both;
}
.container
{
width:940px;
margin: 0px auto;
}
.header
{
height:50px;
background:#444444;
}

.content
{
height:504px
}
.footer
{
height:160px;
background:#ececec;
}
.img1
{
float:left;
padding-top:8px;
padding-right:55px;
}




ul{
float:left;
margin:0px;
list-style-type:none;
margin-top:8px;
margin-left:55px;

}



li{

float:left;
font-size:18px;

margin-left:55px;
}
 a
{

display:block;
text-decoration:none;
color:#aaaaaa;
float:left;
//border-right: 1px solid #333333;

}

#pattern
{

height:487px;
background-image:url("images/pattern.jpg");
background-repeat:repeat;

}
.viewGallery
{
text-align:center;
background:#f2f2f2;
height:47px;
width:171px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
font-size:20px;
color:BLACK;
font-family:myriad pro;
margin-right:21px;
border-right:0px;
}

.joinNow
{
height:47px;
width:171px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
background:#ff9900;
font-size:20px;
color:WHITE;
font-family:myriad pro;
text-align:center;
border-right:0px;
}

h1
{
font-family:myriad pro;
font-size:48px;
color:white;
padding-top:186px;
}
h2
{
font-family:myriad pro;
font-size:36px;
color:white;
padding-top:27px;
padding-bottom:41px;
}
h3
{
font-size:24px;
color:#444444;
padding-top:63px;
padding-left:365px;
padding-bottom:76px;
}

.img2
{

float:right;
padding-top:47px;
padding-right:20px;
}

.circle
{
border-radius:50%;
width:140px;
height:140px;
background:#efefef;
float:left;
margin-left:70px;
border-left:0px;
border-right:0px;
}
.img3
{
padding-top:45px;
padding-left:40px;
}
.circle1
{
border-radius:50%;
width:30px;
height:30px;
background:#888888;
float:right;
margin-left:7px;
margin-top:20px;color:#ff9900;
border-left:0px;
margin-right:0px;
}
.img4
{
padding-top:7px;
padding-left:5px;
}
.text
{
margin-top:60px;
}
.p
{
              margin-top:20px;
              margin-left:0px;
              padding-right:20px;
              color:#ff9900;
}
              
.text2
{
      clear:both;
      padding-left:50px;
      color:#b4b4b4;
      padding-top:24px;
      float:left;
      }
      .text3
      {
      color:#b4b4b4;
      padding-top:24px;
      padding-left:20px;
      }
