.wrapper
{
width:940px;
margin:0px auto;
font-family:Arial;
}
.header
{
background-color:#499bd7;
height:176px;

}

.nav
{
height:60px;
background-color:#d6d6d6;
}
.footer
{
height:66px;
background-color:#eeeeee;
}
h1
{
color:white;
text-align:center;
padding-top:73px;
font-size:30px;
}

ul
{
padding-top:20px;
margin:0px;
padding-left:0px;
padding-right:12px;
}


li
{
display:inline;
width:11px;
padding-right:12px;
padding-left:0px;
}

.content
{

height:461px;
background-color:#ffffff;

}

.img
{
padding-top:29px;
float: left;
}

p
{
padding-top:29px;
text-align:left;
font-size:14px;
padding-left:219px;
}

.p1
{
padding-top:13px;
padding-left:0px;
}

a
{
text-decoration:none;
color:black;
}
.cr
{
font-size:12px;
float:right;
}

